<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
  <key>CFBundleDisplayName</key>
  <string>MedLab</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>UILaunchScreen</key>
  <dict/>
  <key>UIAppFonts</key>
  <array>
    <string>InstrumentSans.ttf</string>
  </array>
  <key>MEDLAB_API_BASE_URL</key>
  <string>$(MEDLAB_API_BASE_URL)</string>
  <key>MEDLAB_SUPABASE_URL</key>
  <string>$(MEDLAB_SUPABASE_URL)</string>
  <key>MEDLAB_SUPABASE_ANON_KEY</key>
  <string>$(MEDLAB_SUPABASE_ANON_KEY)</string>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsLocalNetworking</key>
    <true/>
  </dict>
</dict>
</plist>
